body {
    overflow: hidden;
}
div#player {
    width: 10px;
    height: 10px;
    background: green;
    transition: all 0.1s linear 0s;
    position: absolute;
    top: 0;
    left: 0;
}

.bullet {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 2s ease-in-out 0s;

    width: 5px;
    height: 5px;
    background: red;
}
.bullet.move-left {
    transform: translateX(-2000px);
}
.bullet.move-right {
    transform: translateX(2000px);
}
.bullet.move-up {
    transform: translateY(-2000px);
}
.bullet.move-down {
    transform: translateY(2000px);
}
