h1 {
    margin: 0;
}

.content {
    background: blue;
    height: 500px;
    position: relative;
}

.parallax-section {

    position: relative;
    height: 150px;
    overflow: hidden;
}

#parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#parallax img {
    position: absolute;

    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}